html,
body {
  height: 100%;
  max-height: 100%;
}
body {
  background: url('../image/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.chat {
  max-height: 100%;
}
.chat-container {
  height: 100%;
}
.chat-header {
  height: 10%;
  padding: 0.5rem 0px;
  background-color: white;
}
@media (max-width: 993px) {
  .chat-header {
    min-height: 4rem;
  }
}
.chat-header img {
  width: 4.5rem;
  height: 3rem;
  border-radius: 50%;
}
.chat-footer {
  height: 10%;
}
@media (max-width: 993px) {
  .chat-footer {
    min-height: 4rem;
  }
}
.chat-body {
  height: 78%;
}
@media (min-height: 300px) and (max-height: 500px) {
  .chat-body {
    height: 68%;
  }
}
.chat-body .list-message {
  height: 94%;
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.chat-body .message-container {
  display: flex;
  list-style: none;
  width: 100%;
}
.chat-body .mb-last-child-off {
  margin-bottom: 0.5rem;
}
.chat-body .mb-last-child-off:last-child {
  margin-bottom: 0rem;
}
.chat-body .message-body {
  max-width: 80%;
  width: fit-content;
  background-color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  cursor: pointer !important;
}
.chat-body .message-body div video,
.chat-body .message-body div img {
  height: 200px;
  width: 300px;
  max-width: 100%;
  border-radius: 5px;
}
.chat-body .from {
  background-color: #414141;
  color: white;
}
.chat-body .message-hour {
  min-width: 30px;
  display: flex;
  align-items: flex-end;
  font-size: 0.7rem;
}
.friendsMenu {
  display: none;
}
@media (max-width: 993px) {
  .friendsMenu {
    min-width: 2.5rem;
    min-height: 2.5rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.8rem;
  }
  .friendsMenu .material-icons {
    position: absolute;
  }
}
.friends {
  height: 100vh;
  overflow: auto;
  background-color: white;
}
@media (max-width: 993px) {
  .friends {
    width: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: 1px 2px 5px black;
  }
}
.friends .card-friend {
  height: 10%;
  padding: 0.5rem 0px;
  background-color: white;
}
@media (max-width: 993px) {
  .friends .card-friend {
    min-height: 4rem;
  }
}
.friends .card-friend img {
  width: 4.5rem;
  height: 3rem;
  border-radius: 50%;
}
.friends .card-friend:hover {
  cursor: pointer !important;
  background-color: #f8f9fa;
}
.register {
  background-color: #e0e0e0;
}
.form-register {
  border-radius: 20px;
  height: 80vh;
  width: 40vw;
  box-shadow: 7px 7px 14px #828282, -7px -7px 14px #ffffff;
}
@media (max-width: 993px) {
  .form-register {
    width: 100%;
    box-shadow: 0px 0px 0px transparent;
  }
}
.form-register .register-button-size {
  height: 43px;
}
.img-size {
  width: 125px;
  height: 125px;
}
.preview div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.preview div img,
.preview div video,
.preview div audio {
  width: 100%;
  max-height: 60vh;
  background: black;
  border-radius: 5px;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.notification {
  min-width: 1.2rem;
  min-height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.identification-bar {
  height: 10%;
  padding: 0.5rem 0px;
  background-color: white;
}
@media (max-width: 993px) {
  .identification-bar {
    min-height: 4rem;
  }
}
.identification-bar img {
  width: 4.5rem;
  height: 3rem;
  border-radius: 50%;
}
.transition {
  transition: 1s;
}
@media (max-width: 993px) {
  .w-mobile-100 {
    width: 100%;
  }
}
.pointer {
  cursor: pointer !important;
}
.absolute-background {
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: 1s;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
@media (max-width: 993px) {
  .mobile-friends-enter-from,
  .mobile-friends-leave-to {
    opacity: 0;
    transform: translateX(-100vw);
  }
  .mobile-friends-enter-active,
  .mobile-friends-leave-active {
    transition: 1s;
  }
  .mobile-friends-enter-to,
  .mobile-friends-leave-from {
    opacity: 1;
    transform: translateX(0vw);
  }
}
